<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         backupStaticAttributes="false"

         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
				 printerFile="vendor/kujira/phpunit-printer/src/Printer.php"
         printerClass="Kujira\PHPUnit\Printer"

         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
		 
         verbose="false"


		 
		 >
	<testsuites>
		<testsuite name="AllTests">
			<directory>./test</directory>
		</testsuite>
	</testsuites>
	
	<filter>
	  <blacklist>
		<directory suffix=".php"></directory>
		<file></file>
		<exclude>
		  <directory suffix=".php"></directory>
		  <file></file>
		</exclude>
	  </blacklist>
	  <whitelist processUncoveredFilesFromWhitelist="true">
		<directory suffix=".php"></directory>
		<file></file>
		<exclude>
		  <directory suffix=".php"></directory>
		  <file></file>
		</exclude>
	  </whitelist>
	</filter>
</phpunit>